version: '3.8'

services:
  # 1. Grafana Tempo (Trace 저장소)
  tempo:
    image: grafana/tempo:2.7.1
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - ./tempo-config.yaml:/etc/tempo.yaml
    ports:
      - "3200:3200"
      - "4317:4317"  # OTLP gRPC
      - "4318:4318"  # OTLP HTTP (여기로 보냅니다)

  # 2. Grafana (시각화)
  grafana:
    image: grafana/grafana:11.0.0
    volumes:
      - ./grafana-datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
    ports:
      - "3000:3000"
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
    depends_on:
      - tempo

  nodejs:
    build:
      context: ./my-app-docker
    environment:
      - OTEL_EXPORTER_OTLP_TRACES_PROTOCOL=http
      - OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://tempo:4318/v1/traces
      - OTEL_EXPORTER_OTLP_INSECURE=true
      - OTEL_LOGS_EXPORTER=none
      - OTEL_METRICS_EXPORTER=none
      - OTEL_SERVICE_NAME=my-nodejs
      - OTEL_TRACES_EXPORTER=otlp
      - OTEL_LOG_LEVEL=info
    ports:
      - "3003:3000"
    restart: always
    depends_on:
      - tempo