server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: "0.0.0.0:4317"
        http:
          endpoint: "0.0.0.0:4318"

storage:
  trace:
    backend: local                     # 로컬 파일 시스템 사용
    wal:
      path: /tmp/tempo/wal
    local:
      path: /tmp/tempo/blocks